<style>
    .active-tag {
    color: #1967D2 !important;
    }
</style>
<!-- Header Span -->
<span class="header-span"></span>
<!--Page Title-->
<section class="page-title">
    <div class="auto-container">
        <div class="title-outer">
            <h1>Job List</h1>
            <ul class="page-breadcrumb">
                <li><a href="/">Home</a></li>
                <li>Job List</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Listing Section -->
<section class="ls-section">
    <div class="auto-container">
        <div class="filters-backdrop"></div>
        <div class="row">
            <!-- Filters Column -->
            <div class="filters-column col-lg-4 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="filters-outer">
                        <button type="button" class="theme-btn close-filters">X</button>
                        <!-- Filter Block -->
                        <div class="filter-block">
                            <h4>Search by Keywords</h4>
                            <form method="get" action="/candidate_jobs">
                                <div class="form-group">
                                    <input value="<%= params[:title] %>" type="text" name="title" placeholder="Job title, Skills">
                                    <span class="icon flaticon-search-3"></span>
                                </div>
                            </form>
                        </div>
                        <!-- Filter Block -->
                        <div class="filter-block">
                            <h4>Tags</h4>
                            <ul class="tags-style-one">
                                <% @tag_list.each do |item| %>
                                <li><a class="<%= params[:title]&.downcase == item.downcase ? 'active-tag' : nil %>" href="?title=<%= item %>&location=<%=params[:location]%>"><%= item %></a></li>
                                <% end %>
                            </ul>
                        </div>
                        <div class="filter-block">
                            <h4>Locations</h4>
                            <ul class="tags-style-one">
                                <% if params[:title].present? %>
                                <% @location_list.each do |item| %>
                                <li><a class="<%= params[:location]&.downcase == item.downcase ? 'active-tag' : nil %>" href="?title=<%=params[:title]%>&location=<%= item %>"><%= item %>(<%=Job.count_job(params[:title], item)%> jobs)</a></li>
                                <% end %>
                                <% else %>
                                <% @location_list.each do |item| %>
                                <li><a class="<%= params[:location]&.downcase == item.downcase ? 'active-tag' : nil %>" href="?title=<%=params[:title]%>&location=<%= item %>"><%= item %></a></li>
                                <% end %>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                    <!-- Call To Action -->
                    <div class="call-to-action-four">
                        <h5>
                            HR Freelancer?
                        </h5>
                        <p>Advertise your jobs to millions of monthly users and search 15.8 million CVs in our database.</p>
                        <a href="#" class="theme-btn btn-style-one bg-blue"><span class="btn-title">Start Recruiting Now</span></a>
                        <div class="image" style="background-image: url(images/resource/ads-bg-4.png);"></div>
                    </div>
                    <!-- End Call To Action -->
                </div>
            </div>
            <!-- Content Column -->
            <div class="content-column col-lg-8 col-md-12 col-sm-12">
                <div class="ls-outer">
                    <button type="button" class="theme-btn btn-style-two toggle-filters">Show Filters</button>
                    <!-- ls Switcher -->
                    <div class="ls-switcher">
                        <div class="showing-result">
                            <%# <div class="text">Showing <strong>41-60</strong> of <strong>944</strong> jobs</div> %>
                            <div class="text">Showing <strong>
                                <%= @job_list.size %> <%= params[:title]%></strong> jobs <%= params[:location].present? ? ' in ' + params[:location] : nil %>
                            </div>
                        </div>
                    </div>
                    <% if @job_list.size == 0 %>
                    <h4>
                        Job Not Found with title <strong><%= params[:title] %></strong>  <strong>in</strong> <%= params[:location] %>
                    </h4>
                    <h4>
                        Try to find other jobs
                    </h4>
                    <% end %>
                    <% @job_list.each do |job| %>
                        <!-- Job Block -->
                        <div class="job-block">
                            <div class="inner-box">
                                <div class="content">
                                    <span class="company-logo"><img src="<%= job&.company_logo %>" alt=""></span>
                                    <h4><a href="/single_job/<%= job.id %>">
                                        <%= job.title %>
                                        </a>
                                    </h4>
                                    <ul class="job-info">
                                        <li><span class="icon flaticon-briefcase"></span>
                                            <%= job.category %>
                                        </li>
                                        <li><span class="icon flaticon-map-locator"></span><%= job.province %></li>
                                        <li><span class="icon flaticon-clock-3"></span><%= job.created_at.strftime('%a %b %d') %></li>
                                        <li><span class="icon flaticon-money"></span><%= job.salary_text %></li>
                                    </ul>
                                    <ul class="job-other-info">
                                        <li class="time">Full Time</li>
                                    </ul>
                                    <button class="bookmark-btn"><span class="flaticon-bookmark"></span></button>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    <p><%= will_paginate @job_list, renderer: BootstrapPagination::Rails %></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Listing Page Section -->

<style>
    /* thiết lập style cho thẻ a */
    .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    }
    /* thiết lập style cho class active */
    .pagination a.active {
    background-color: dodgerblue;
    color: white;
    }
    /* thêm màu nền khi người dùng hover vào class không active */
    .pagination a:hover:not(.active) {
    background-color: #ddd;
    }
</style>