<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="table-rep-plugin">
                <div class="table-responsive" data-pattern="priority-columns">
                    <table id="datatable" class="table  table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th data-priority="3">Email</th>
                                <th data-priority="3">Email_Confirmed</th>
                                <th data-priority="3">Block</th>
                                <th data-priority="6">Facebook_Link</th>
                                <th data-priority="6">Created_Day</th>
                                <th data-priority="6">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @users.each do |user| %>
                            <tr>
                                <td>
                                    <%= user.id %>
                                </td>
                                <td>
                                    <%= user.email %>
                                </td>
                                <td>
                                    <%= user.email_confirmed %>
                                </td>
                                <td>
                                    <% if user.blocked == 1 %>
                                    <span class="label label-danger">
                                    	Blocked
                                    </span>
                                    <% else %>
                                    <span class="label label-success">
                                    Opening
                                    </span>
                                    <% end %>
                                </td>
                                <td>
                                    <%= user.facebook_link %>
                                </td>
                               
                                <td>
                                    <%= user.created_at.strftime("%d-%m-%Y") %>
                                </td>
                                <td> 
                                    <button onclick="deleteUser(<%= user.id %>)" class="btn btn-danger waves-effect w-md waves-light m-b-5">
                                        Delete
                                    </button>
                                    <% unless user.blocked %>
                                    <button
                                        class="btn btn-danger waves-effect w-md waves-light m-b-5"
                                        onclick="handleBlockAccount(<%= user.id %>)"
                                        >
                                        Block
                                    </button>
                                    <% else %>
                                    <button
                                        class="btn btn-success waves-effect w-md waves-light m-b-5"
                                        onclick="handleOpenAccount(<%= user.id %>)"
                                        >
                                    Open
                                    </button>
                                    <% end %>
                                    <a href="users/new" type="button" class="btn btn-success waves-effect w-md waves-light m-b-5">Create User</a>
                                    <a href="users/<%= user.id %>/edit" type="button" class="btn btn-success waves-effect w-md waves-light m-b-5">
                                        Edit User
                                    </a>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>