<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            DevFinding For Consultants
        </title>
        <!-- Stylesheets -->
        <%= stylesheet_link_tag 'candidates/bootstrap' %>
        <%= stylesheet_link_tag 'candidates/style' %>
        <%= stylesheet_link_tag 'candidates/responsive' %>
        <%= stylesheet_link_tag 'candidates/icons' %>
        <%= stylesheet_link_tag 'candidates/flaticon' %>
        <%= stylesheet_link_tag 'candidates/fontawesome-all' %>
        <%= stylesheet_link_tag 'candidates/line-awesome' %>
        <link rel="shortcut icon" href="https://devfinding.com/assets/logoweb-727cd8a68dbc9c4351067553cacb93d791e8f9a7e7e67383ba00f07e5afff092.png" type="image/x-icon">
        <link rel="icon" href="https://devfinding.com/assets/logoweb-727cd8a68dbc9c4351067553cacb93d791e8f9a7e7e67383ba00f07e5afff092.png" type="image/x-icon">
        <!-- Responsive -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
        <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
    </head>
    <body>
        <div class="page-wrapper dashboard">
            <!-- Preloader -->
            <div class="preloader"></div>
            <!-- Header Span -->
            <span class="header-span"></span>
            <!-- Main Header-->
            <header class="main-header header-shaddow">
                <div class="container-fluid">
                    <!-- Main box -->
                    <div class="main-box">
                        <!--Nav Outer -->
                        <div class="nav-outer">
                            <div class="logo-box">
                                <div class="logo"><a href="/hr_freelancers">
                                    <%= image_tag("logoweb.png", :alt => "Logo web") %>
                                    </a>
                                </div>
                            </div>
                            <nav class="nav main-menu">
                                <ul class="navigation" id="navbar">
                                    <li class="<%= @current_route == 'home' ? 'active' : '' %>">
                                        <span>
                                            <a href='/hr_freelancers'>
                                                <strong>
                                                    Dashboard
                                                </strong>
                                            </a>
                                        </span>
                                    </li>
                                    <li class="<%= @current_route == 'applied_jobs' ? 'active' : '' %>">
                                        <span>
                                            <a href='/hr_freelancers?job=applied_jobs'>
                                                <strong>
                                                    Applied Jobs
                                                </strong>
                                            </a>
                                        </span>
                                    </li>
                                    <!-- Only for Mobile View -->
                                    <li class="mm-add-listing">
                                        <a href="add-listing.html" class="theme-btn btn-style-one">Job Post</a>
                                        <span>
                                        <span class="contact-info">
                                        <span class="phone-num"><span>Call us</span><a href="tel:1234567890">123 456 7890</a></span>
                                        <span class="address">329 Queensberry Street, North Melbourne VIC <br>3051, Australia.</span>
                                        <a href="mailto:support@superio.com" class="email">support@superio.com</a>
                                        </span>
                                        <span class="social-links">
                                        <a href="#"><span class="fab fa-facebook-f"></span></a>
                                        <a href="#"><span class="fab fa-twitter"></span></a>
                                        <a href="#"><span class="fab fa-instagram"></span></a>
                                        <a href="#"><span class="fab fa-linkedin-in"></span></a>
                                        </span>
                                        </span>
                                    </li>
                                </ul>
                            </nav>
                            <!-- Main Menu End-->
                        </div>
                        <div class="outer-box">
                            <!-- Dashboard Option -->
                            <div class="dropdown dashboard-option">
                                <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                                <img src="https://media.istockphoto.com/photos/businessman-silhouette-as-avatar-or-default-profile-picture-picture-id476085198?k=20&m=476085198&s=612x612&w=0&h=8J3VgOZab_OiYoIuZfiMIvucFYB8vWYlKnSjKuKeYQM=" alt="avatar" class="thumb">
                                <span class="name">My Account</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="<%= @current_route == 'home' ? 'active' : ''%>"><a href="/hr_freelancers"> <i class="la la-home"></i> Dashboard</a></li>
                                    <li class="<%= @current_route == 'applied_jobs' ? 'active' : ''%>"><a href="/hr_freelancers?job=applied_jobs"><i class="la la-briefcase"></i> Applied Jobs </a></li>
                                    <li><a href="/hr_freelancers/sessions/logout"><i class="la la-briefcase"></i> Logout </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mobile Header -->
                <div class="mobile-header">
                    <div class="logo"><a href="/hr_freelancers">
                        <%= image_tag("logoweb.png", :alt => "Logo web") %>
                        </a>
                    </div>
                    <!--Nav Box-->
                    <div class="nav-outer clearfix">
                        <div class="outer-box">
                            <!-- Login/Register -->
                            <div class="login-box">
                                <a href="login-popup.html" class="call-modal"><span class="icon-user"></span></a>
                            </div>
                            <button id="toggle-user-sidebar"><img src="https://cdn5.vectorstock.com/i/1000x1000/17/49/creative-of-default-avatar-vector-19411749.jpg" alt="avatar" class="thumb"></button>
                            <a href="#nav-mobile" class="mobile-nav-toggler navbar-trigger"><span class="flaticon-menu-1"></span></a>
                        </div>
                    </div>
                </div>
                <!-- Mobile Nav -->
                <div id="nav-mobile"></div>
            </header>
            <!--End Main Header -->
            <!-- Sidebar Backdrop -->
            <div class="sidebar-backdrop"></div>
            <!-- User Sidebar -->
            <div class="user-sidebar">
                <div class="sidebar-inner">
                    <ul class="navigation">
                        <li class="<%= @current_route == 'home' ? 'active' : ''%>"><a href='/hr_freelancers'> <i class="la la-home"></i> Dashboard</a></li>
                        <li class="<%= @current_route == 'applied_jobs' ? 'active' : ''%>"><a href='/hr_freelancers?job=applied_jobs'><i class="la la-briefcase"></i> Applied Jobs </a></li>
                    </ul>
                    <div class="skills-percentage">
                        <h4>New Jobs</h4>
                        <%# <p>Put value for "Cover Image" field to increase your skill up to "85%"</p> %>
                        <!-- Pie Graph -->
                        <div class="pie-graph">
                            <div class="graph-outer">
                                <input type="text" class="dial" data-fgColor="#7367F0" data-bgColor="transparent" data-width="234" data-height="234" data-linecap="normal" value="30">
                                <div class="inner-text count-box"><span class="count-text txt" data-stop="30" data-speed="2000"></span>%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End User Sidebar -->
            <%= yield %>
            <!-- Copyright -->
            <div class="copyright-text">
                <p>
                    <strong>
                        © 2022 DevFinding. All Right Reserved.
                    </strong>
                </p>
            </div>
        </div>
        <!-- End Page Wrapper -->
        <script src="https://creativelayers.net/themes/superio/js/jquery.js"></script>
        <script src="https://creativelayers.net/themes/superio/js/popper.min.js"></script>
        <script src="https://creativelayers.net/themes/superio/js/chosen.min.js"></script>
        <script src="https://creativelayers.net/themes/superio/js/bootstrap.min.js"></script>
        <script src="https://creativelayers.net/themes/superio/js/jquery-ui.min.js"></script>
        <script src="https://creativelayers.net/themes/superio/js/jquery.fancybox.js"></script>
        <script src="https://creativelayers.net/themes/superio/js/jquery.modal.min.js"></script>
        <script src="https://creativelayers.net/themes/superio/js/mmenu.polyfills.js"></script>
        <script src="https://creativelayers.net/themes/superio/js/mmenu.js"></script>
        <script src="https://creativelayers.net/themes/superio/js/appear.js"></script>
        <script src="https://creativelayers.net/themes/superio/js/ScrollMagic.min.js"></script>
        <script src="https://creativelayers.net/themes/superio/js/rellax.min.js"></script>
        <script src="https://creativelayers.net/themes/superio/js/owl.js"></script>
        <script src="https://creativelayers.net/themes/superio/js/wow.js"></script>
        <script src="https://creativelayers.net/themes/superio/js/knob.js"></script>
        <script src="https://creativelayers.net/themes/superio/js/script.js"></script>
        <!-- Chart.js // documentation: http://www.chartjs.org/docs/latest/ -->
        <script src="https://creativelayers.net/themes/superio/js/chart.min.js"></script>
        <script>
            Chart.defaults.global.defaultFontFamily = "Sofia Pro";
            Chart.defaults.global.defaultFontColor = '#888';
            Chart.defaults.global.defaultFontSize = '14';
            
            var ctx = document.getElementById('chart').getContext('2d');
            
            var chart = new Chart(ctx, {
            
              type: 'line',
              // The data for our dataset
              data: {
                labels: ["January", "February", "March", "April", "May", "June"],
                // Information about the dataset
                datasets: [{
                  label: "Views",
                  backgroundColor: 'transparent',
                  borderColor: '#1967D2',
                  borderWidth: "1",
                  data: [196, 132, 215, 362, 210, 252],
                  pointRadius: 3,
                  pointHoverRadius: 3,
                  pointHitRadius: 10,
                  pointBackgroundColor: "#1967D2",
                  pointHoverBackgroundColor: "#1967D2",
                  pointBorderWidth: "2",
                }]
              },
            
              // Configuration options
              options: {
            
                layout: {
                  padding: 10,
                },
            
                legend: {
                  display: false
                },
                title: {
                  display: false
                },
            
                scales: {
                  yAxes: [{
                    scaleLabel: {
                      display: false
                    },
                    gridLines: {
                      borderDash: [6, 10],
                      color: "#d8d8d8",
                      lineWidth: 1,
                    },
                  }],
                  xAxes: [{
                    scaleLabel: {
                      display: false
                    },
                    gridLines: {
                      display: false
                    },
                  }],
                },
            
                tooltips: {
                  backgroundColor: '#333',
                  titleFontSize: 13,
                  titleFontColor: '#fff',
                  bodyFontColor: '#fff',
                  bodyFontSize: 13,
                  displayColors: false,
                  xPadding: 10,
                  yPadding: 10,
                  intersect: false
                }
              },
            });
        </script>
    </body>
</html>